<div id="currency_index">
    <div class="row">
        <form id="currency_form">
            <div class="col-lg-3 col-md-4 col-xs-12">
                From
                <select id="currency-from">
                    <% Object.keys(data).forEach( key => { %>
                        <option value="<%= key%>">
                            <%=key%> (<%=data[key] %>)
                        </option>
                        <% });%>
                </select>
            </div>
            <div class="col-lg-1 col-md-1 col-xs-12">
                =>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-12">
                    To
                    <select id="currency-to">
                        <% Object.keys(data).forEach( key => { %>
                            <option value="<%= key%>">
                                <%=key%> (<%=data[key] %>)
                            </option>
                            <% });%>
                    </select>
                </div>
        </form>
    </div>
</div>